.gradient-background {
    background: linear-gradient(300deg, #3FA2F6, #96C9F4, #FAFFAF);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.nav.sticky {
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  width: 200%;
  padding: 0 6rem;
}

.section {
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

